<nav class="navbar navbar-light bg-light justify-content-center">
  <div class="logo"></div>
</nav>
<div class="container" style="margin-top:20px;">
  <div class="row justify-content-center">
    <div class="card">
      <div class="card-body ">
        <div class="imgEmpresa mx-auto"></div>
        <h3 class="card-title text-center">Iniciar sesion</h3>
          <div class="form-group">
            <label for="">ID</label>
            <input type="password" class="form-control form-control-sm">
          </div>
          <div class="form-group">
            <label for="">Contraseña</label>
            <input type="password" class="form-control form-control-sm">
            <a href="forgot" class="form-text text-muted" style="text-decoration:none;">¿olvidaste tu contraseña?</a>
          </div>
          <a href="panel" class="btn btn-success btn-block">Iniciar sesion</a>
        </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-light bg-light fixed-bottom justify-content-center">
  <a class="nav-link">Copyright © 2018 MyJournal. Todos los derechos reservados.</a>
</nav>
