// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
}
.logo {
  background: #b0b0b0;
  width: 150px;
  height: 30px;
  border-radius: 40px;
}

.imgEmpresa {
  width: 100px;
  height: 100px;
  background: #b0b0b0;
  border-radius: 60px;
}

/* Estilos generales de bootstrap modificados */
.card  {
  width: 18rem !important;
  background: #f8f9fa !important;
  border-radius: 30px !important;
  border: none !important;
}

.btn {
  border-radius: 30px !important;
}

.form-control {
  background: #E0E0E0 !important;
  border-radius: 30px !important;
  border-style: none !important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(74, 74, 74, 0.52);
}

.turbolinks-progress-bar {
  background: #28a745 !important;
}
